#content{
	text-align: center;
	padding: 25%;
	text-shadow: 0px 4px 3px rgba(0,0,0,4),
				 0px 8px 13px rgba(0,0,0,4),
				 0px 18px 23px rgba(0,0,0,4);
}
body{
	background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYE53WBC-CvFuDxUuBUj3hp5m0vx7oY7lo_7g-pYd9yawo7De2);
	background-size: cover;
	background-position: center;
	font-family: lato;

}
h1{
	font-weight: 700;
	font-size: 5em;
	color: white;
}
h3{
	color: black;
}
h2{
	color: blue;
}
html{
	height: 100%;
}
hr{
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2)
}

i{
	height: 50%px;
}
.ico{
	height: 100px;
}
#tab{
	color: white;
}